<div class="normalheader transition animated fadeIn small-header ">
	<div class="panel">
		<div class="panel-body" id="heading-header-bar">
			<div id="heading-header-bar-label">
				<div class="">
					<h2 class="font-light">
						Administration
					</h2>
					<small>Site dashboard</small>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content animate-panel" id="content-area">
	<div id="toolbar" class="" style="top: 47px;">
		<div class="container small-header">
			<div class="panel">
				<div class="panel-body">
					woof


				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-danger">
		<strong>Exploiter</strong>
		<p>PlayerName has been found to be exploiting [loginHack] </p><strong>Auto Banned</strong>
	</div>

</div>